.socialNetwork {
    display: flex;
    justify-content: space-between;
}

.wrapperImg {
    background-color: whitesmoke;
    height: 30px;
    margin: 0.5rem;
}

@media (max-width: 500px) {

    .socialNetwork {
        justify-content: space-around;
        width: 50%;
    }
}