.topBar {
    background-color: transparent;
}

@media screen and (min-width: 800px) {
    .topBar {
        display: none;
    }

    .nav {
        display: flex;
    }

    .navContainer {
        width: 100%;
        max-width: 650px;
        margin: 1rem 0;
        position: relative;
        top: -10px
    }
}

@media screen and (max-width: 800px) {
    .topBar {
        display: flex;
    }

    .navContainer {
        width: 50%;
    }

    .nav {
        display: none;
    }
}

.iconMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.bar {
    box-sizing: content-box;
    background-color: var(--menu-color);
    width: var(--menu-width);
    height: var(--menu-height);
    border-radius: var(--menu-height);
    position: relative;
}


.bar::after,
.bar::before {
    content: "";
    position: absolute;
    display: block;
    width: var(--menu-width);
    height: var(--menu-height);
    border-radius: var(--menu-height);
    top: -0.7em;
    background-color: var(--menu-color);
}

.bar::after {
    top: .7em;
}


.barShow {
    display: none !important;
}

.nav {
    position: relative;
    font-family: var(--font-mono);
}

.navShow {
    display: flex;
}

.menu {
    background-color: transparent;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    list-style: none;

    clip: rect(auto, auto, 0, auto);
    position: absolute;
    width: 100%;
    max-width: 950px;
    transition-property: clip;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media screen and (min-width: 800px) {
    .menu {
        display: flex;
        justify-content: space-evenly;
        clip: auto;
    }
}

.menuShow {
    clip: rect(auto, auto, 20rem, auto) !important;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.menuItem {
    padding: .5em;
}

@media screen and (min-width: 800px) {
    .menuItem {
        border-bottom: none;
        text-transform: uppercase;
    }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .menuItem:hover {
        background-color: rgba(128, 128, 128, 0.3);
        border-radius: 10px;
    }

    .menuItem:hover a {
        color: rgb(252, 250, 250);
        font-weight: bold;
    }
}

.menuLink {
    color: var(--menu-color);
    text-decoration: none;
}

.closeShow {
    display: block !important;
}

.close {
    background-color: var(--menu-color);
    width: var(--menu-width);
    height: var(--menu-height);
    border-radius: var(--menu-height);
    position: relative;
    transform: rotate(-45deg);
    display: none;
}

.close::before {
    content: "";
    position: absolute;
    display: block;
    background-color: var(--menu-color);
    width: var(--menu-width);
    height: var(--menu-height);
    border-radius: var(--menu-height);
}

.close::before {
    transform: rotate(90deg);
}