.container {
    width: 100%;
    color: white;
    margin-top: 85px;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
}

.wrapperSearch {
    display: flex;
    align-items: flex-end;
}


.IconSearch {
    height: 25px;
    display: flex;
    align-items: center;
    padding-right: 0.3rem;
    cursor: pointer;
    margin-left: 0.5rem;
}

@media (max-width: 500px) {
    .formInput {
        padding: 0.3rem;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .wrapperSearch {
        margin-top: 1rem;
    }
}