@media (min-width: 1023px) {
    .container {
        font-size: 1.2rem;
    }

    .container div {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        margin: 1rem 0;
    }
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
    .container {
        font-size: 0.8rem;
    }

    .container a {
        padding: 1rem;
    }

    .container div {
        display: flex;
        justify-content: center;
        position: fixed;
        width: 100%;
    }

    .container div {
        align-items: flex-end;
        pointer-events: none;
        inset: auto 0 0;
        padding: 2rem;
        height: 200px;
        background: linear-gradient(to bottom,
                transparent 0%,
                rgb(var(--background-end-rgb)) 40%);
        z-index: 1;
    }
}

@media (prefers-color-scheme: dark) {
    .vercelLogo {
        filter: invert(1);
    }

    .logo,
    .thirteen img {
        filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}